<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
{{ form.media }}
{#    这5行全是调用django日历用的#}
{#调用示例：#}
{#<form method="POST" action="/list0/">#}
{#    {% csrf_token %}#}
{#    日期:{{ form.list0Date }}#}
{#    <input type="submit" value="查询">#}
{#    <label>{{ rightWord }}</label>#}
{#</form>#}